html {
  width: 100vw;
  height: 100%;
}
body {
  width: 100vw;
  height: 100%;
  margin: 0px;
  font-size: 25px;
  font-family: 'Yellowtail', sans-serif;
  color: #fff;
  text-shadow: rgba(240, 19, 240, 1) 0px 0px 50px;
  background: url(./assets/images/background.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
}

.game {
  width: 320px;
  height: 687px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.game__popup {
  width: 320px;
  height: 687px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 0px 0px;
  text-align: center;
  background: rgb(177, 43, 215);
  background: linear-gradient(
    180deg,
    rgba(177, 43, 215, 1) 0%,
    rgba(24, 39, 87, 1) 100%
  );
  background-size: cover;
  background-position: center;
  box-shadow: rgba(240, 19, 240, 1) 0px 0px 80px;
  border-radius: 10px;
  z-index: 0;
  opacity: 0;
  transform: scale(0);
  transition: all 1s ease-in-out;
}

.game__popup-wraper{
  gap: 20px;
  font-size: 18px;
  padding: 0px;
  margin: 0px;
}

.game__close {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 20px;
  margin: auto;
}

.game__close:hover{
  transform: scale(1.05);
  cursor: pointer;
}
.game__close:active{
  transform: scale(1.1);
}


.show__popup {
  z-index: 2;
  opacity: 0.97;
  transform: scale(1);
}


.game__header {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.game__title{
  margin: 0px;
  font-size: 47px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.game__info {
  display: flex;
  justify-content: space-around;
}

.game__counter,
.game__timer {
  margin: 0px;
}

.game__wraper {
  width: 100%;
  margin-bottom: 40px;
}
.game__buttons {
  display: flex;
  justify-content: space-around;
  z-index: 1;
}

.game__button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  padding: 0px;
  background: transparent;
  font-size: 25px;
  font-family: 'Yellowtail', sans-serif;
  color: #fff;
  text-shadow: rgba(240, 19, 240, 1) 0px 0px 30px;
  transition: all 0.2s ease-in-out;
}

.game__button:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.game__button:active {
  transform: scale(1.1);
}



.game__field {
  width: 320px;
  height: 320px;
  border-radius: 10px;
  position: relative;
  margin: 0 auto;
  box-shadow: rgba(240, 19, 240, 1) 0px 0px 80px;
}

.game__cell {
  cursor: pointer;
  border: solid 1px #fff;
  border-radius: 10px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 35px;
  transition: all 0.5s;
  color: #fff;
  text-shadow: rgba(240, 19, 240, 1) 0px 0px 50px;
  box-shadow: rgba(240, 19, 240, 1) 0px 0px 80px;
  z-index: 1;
}

.game__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 1;
}

.game__select {
  width: 60px;
  border: 0;
  border-radius: 10px;
  background: transparent;
  font-size: 25px;
  font-family: 'Yellowtail', sans-serif;
  color: #fff;
  text-shadow: rgba(240, 19, 240, 1) 0px 0px 30px;
}

.game__select:hover {
  cursor: pointer;
}

.sound__off {
  text-decoration: line-through;
}
