.game {
  width: 100vw;
  height: 100%;
}



.game__field {
  width: 320px;
  height: 320px;
  border: 1px solid black;
  position: relative;

}

.game__cell {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 25px;
  transition: all 0.5s;
}



.sound__off{
  text-decoration: line-through;
}



